body::-webkit-scrollbar {
  width: 0;
}
html::-webkit-scrollbar {
  width: 0;
}
body {
  margin: 0;
  height: 100%;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  overflow-x: hidden;
  font-family: SimHei, "微软雅黑", sans-serif;
}
#dynamicBG {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  background-color: #ececec;
  overflow-y: hidden;
  filter: saturate(180%) blur(32px);
}
#header,
#content,
footer {
  width: calc(100vw - 1rem);
  max-width: 1200px;
  margin: 0px auto;
}
.darkTheme #header {
  position: absolute;
  z-index: 10;
  left: 50%;
  padding: 24px 0px 0px 0px;
  transform: translate(-50%, 0);
}
.darkTheme footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.lightTheme #header {
  padding: 24px 0px 8px 0px;
  border-bottom: 1px #999 solid;
  background: rgba(255,255,255,0.5);
  backdrop-filter: saturate(180%) blur(32px);
}
.menu-item {
  padding: 6px 16px;
  float: left;
  line-height: 1;
}
.menu {
  float: right;
}
.menu-item a {
  color: #999;
  text-decoration: none !important;
  font-size: 1rem;
}
.menu-item a:hover,
.active a {
  color: #000;
  transition: all 0.3s ease-in;
}
footer {
  margin-top: 24px;
  padding: 24px 16px;
  font-size: 1rem;
  color: #a3a3a3;
  text-align: right;
}
.lightTheme footer {
  display: none;
}
#blurLayer {
  position: absolute;
  width: 100%;
  height: calc(100vh);
  left: 0;
  background: rgba(255,255,255,0.5);
}
#floatLayer {
  position: absolute;
  width: 100%;
  height: calc(100vh - 160px);
  top: 80px;
  left: 0;
}
#floatLayer text:hover {
  text-decoration: underline;
  font-size: 48px;
}
@media screen and (max-width: 425px) {
  :root {
    font-size: 12px;
  }
}
