.archive-item {
    padding: 16px 16px; 
    border-bottom: 1px solid #e5e5e5;
}

.archive-item:hover {
    border-bottom: 1px solid #a3a3a3;
}

.archive-item time {
    float: left;
    font-size: 1rem;
}

.archive-item a {
    font-size: 1rem;
    font-weight: 700; 
    color: #1a1a1a;
    margin-left: 24px;
}

.archive-item a:hover {
    color: #3853CB !important;
    text-decoration: none !important;
}

/*
<div class="tags">
  <%- list_tags({depth: 1}) %>
</div>
*/

