html {
	font-size: 15px;
}

.archive-item {
    padding: 2em; 
    margin: 0 auto;
    border-bottom: 1px solid #eeeeee;
}

.list {
    margin: 1em auto;
    max-width: 960px;
}

.list h1 {
    text-align: center;
    margin-bottom: 0.5em;
}

.tag-item {
    margin-bottom: 4em;
}

.archive-item:hover {
    border-radius: 8px;
    background: #3A00CF;
    box-shadow: inset 24px 24px 48px #3100b0, 
                inset -24px -24px 48px #4300ee;
    transition: all .3s ease;
}

.archive-item time {
    float: right;
    font-size: 1em;
    margin-top: 0.4em;
}

.archive-item a {
    font-size: 1.2em;
    color: #000000;
    margin-left: 1.5em;
}

.archive-item:hover a, .archive-item:hover span {
    color: #ffffff !important;
    /* font-weight: 700;  */
    text-decoration: none !important;
}

@media screen and (max-width: 680px) {
    .archive-item time {
        float: none;
    }

    .archive-item a {
        display: block;
        margin-left: 0;
    }

    .archive-item {
        padding: 1em; 
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}
