.archive-item {
    padding: 16px 16px; 
    max-width: 960px;
    margin: 0 auto;
    /* border-bottom: 1px solid #e5e5e5; */
}

.list {
    margin: 64px auto;
}

.article-tag, .article-intro {
    float: left;
}

.article-tag {
    background-color: #3853CB;
    border-radius: 4px;
    color: #ffffff;
    padding: 0 8px;
    font-size: 0.8rem;
    margin-top: 0.1rem;
}

.archive-item:hover {
    border-bottom: 1px solid #a3a3a3;
    border-top: 1px solid #a3a3a3;
    transition: all .3s ease;
}

.archive-item time {
    float: right;
    font-size: 1rem;
}

.archive-item a {
    font-size: 1rem;
    font-weight: 700; 
    color: #000000;
    margin-left: 24px;
}

.archive-item a:hover {
    color: #3853CB !important;
    text-decoration: none !important;
}

/*
<div class="tags">
  <%- list_tags({depth: 1}) %>
</div>
*/

