#recents {
	border-top: 1px #000000 solid;
    max-width: 960px;
    margin: 10em auto;
}


#recents span {
	display: block;
    font-size: 1em;
	line-height: 2.4;
	color: #c9c9c9;
}

.prev {
	float: left;
}

.next {
	float: right;
}

@media screen and (max-width: 480px) {
	.prev {
		display: none;
	}

	.next {
		float: left;
	}

	#recents span {
		display: inline;
	}
}
