#recent-posts {
	border-top: 1px #1a1a1a solid;
	margin: 120px 0px 8px 0px;
	padding: 12px 32px; 
}

#recent-posts ul {
	padding: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* justify-content: space-around; */
	/* align-content: flex-start; */
}

.recent-post-item {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 320px;
	max-width: calc(33% - 32px);
	margin: 16px;
	border: 1px #e5e5e5 solid;
	padding: 16px;
	
}

.recent-post-item:hover {
	border: 1px #1a1a1a solid;
	transition: all .3s ease;
}


.recent-post-item p {
	font-size: 0.8rem;
	color: #999999;
}

/* .hide {
	transform: translateY(-100%);
} */

@media screen and (max-width: 768px) {
	.recent-post-item {
		max-width: calc(50% - 32px);
	}
}

@media screen and (max-width: 500px) {
	.recent-post-item {
		max-width: calc(100% - 32px);
	}
}
