body::-webkit-scrollbar {
  width: 0;
}
html::-webkit-scrollbar {
  width: 0;
}
body {
  margin: 0;
  height: 100%;
}
html {
  box-sizing: border-box;
  font-size: 15px;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  overflow-x: hidden;
  font-family: SimHei, "微软雅黑", sans-serif;
}
#dynamicBG {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  background-color: #ececec;
  overflow-y: hidden;
  filter: saturate(180%) blur(32px);
}
#header,
#content,
footer {
  width: 80%;
  max-width: 960px;
  margin: 0px auto;
}
#header {
  padding: 3em 0px 1.5em 0px;
  border-bottom: 1px #eee solid;
}
.menu-item {
  padding: 6px 0px;
  float: left;
  line-height: 1;
}
.menu {
  float: right;
}
.menu-item a {
  font-size: 1em;
  padding: 0 0.5em 0 1.5em;
  color: #999;
  text-decoration: none !important;
}
.logo a {
  padding-left: 0.5em;
}
.menu-item a:hover,
.active a {
  color: #000;
  transition: all 0.3s ease-in;
}
.logo span {
  background: url("/images/logo.png") no-repeat 0 center;
  background-size: 100%;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  float: left;
}
#header .logo span {
  margin-top: -0.4em;
}
#blurLayer {
  position: absolute;
  width: 100%;
  height: calc(100vh);
  left: 0;
  top: 0;
  background: rgba(255,255,255,0.5);
  z-index: 0;
}
#contentLayer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  min-width: 8em;
}
#contentLayer .button {
  position: relative;
  float: left;
}
#contentLayer .primary {
  display: block;
  float: left;
  padding: 0.5em 3em;
  margin: 0.25em 2.2em 1em 0.25em;
  border-radius: 8px;
  background: linear-gradient(145deg, rgba(40,40,40,0.8), rgba(32,32,32,0.6));
  box-shadow: 2px 2px 4px rgba(29,29,29,0.3), inset 2px 2px 4px rgba(43,43,43,0.1);
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
#contentLayer .primary:hover {
  background: linear-gradient(145deg, #282828, #202020);
}
#contentLayer .secondary {
  display: block;
  float: left;
  padding: 0.5em 3em;
  margin: 0.25em 2.2em 1em 0.25em;
  border-radius: 8px;
  background: linear-gradient(145deg, rgba(255,255,255,0.3), rgba(244,244,244,0.1));
  box-shadow: 2px 2px 4px rgba(244,244,244,0.3), inset 2px 2px 4px rgba(255,255,255,0.1);
  color: #242424;
  text-decoration: none;
  white-space: nowrap;
}
#contentLayer .secondary:hover {
  background: linear-gradient(145deg, #fff, rgba(244,244,244,0.8));
}
#contentLayer span {
  margin-right: 0.5em;
}
@media screen and (max-width: 480px) {
  :root {
    font-size: 12px;
  }
  .menu a {
    display: none;
  }
}
