body::-webkit-scrollbar {width: 0}
html::-webkit-scrollbar {width: 0}

* {
	overflow-x: hidden;
	font-family: SimHei,"微软雅黑",sans-serif;
}

html, body {
	padding: 0;
	margin: 0;   
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

#clearDiv {
	clear: both;
	visibility: visible;
}

#dynamicBG {
	position: absolute;
	left: 0;
	z-index: -1;
}

.main-title {
	width: 100%;
	max-width: 1170px;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background: url(/images/website-name-bg.png) no-repeat center center;
	background-size: 60% auto;
	text-align: center;
	vertical-align: middle;

}

.website-desc {
	position: relative;
    top: 45%;
    transform: translateY(-50%);
    color: #494949;
    font-size: 60px;
}

.website-menu {
	position: relative;
    top: 36%;
}

.website-menu ul {
	list-style: none;
	padding: 0;
}

.website-menu li {
	display: inline;
	padding: 0 24px;
}

.website-menu a {
	font-weight: 600;
	letter-spacing: 2px;
    color: #666;
    font-size: 14px;
    text-decoration: none;

    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;

}

.website-menu a:hover {
    color: #E8611D;
}



.recent-tip {
	position: absolute;
	bottom: 4%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0;
	margin: 0;
}

.website-recent {
	font-weight: 600;
	letter-spacing: 2px;
    color: #494949;
    font-size: 14px;

}

.triangle {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #666666;
    margin: -8px auto 0 auto;
}

.showHeader {
	display: block;

}

.hide {
	visibility: hidden;
}

header {
	position: fixed;
	height: 60px;
	width: 100%;

	background-color: #FFF;
	z-index: 999;
	border-top: solid 2px #EF9B79;

	-webkit-box-shadow: 0 4px 7px rgba(200,200,200,0.1);
    -moz-box-shadow: 0 4px 7px rgba(200,200,200,0.1);
    box-shadow: 0 4px 7px rgba(200,200,200,0.1);

    overflow: hidden;
}

nav {
	position: relative; 
	margin: 20px auto; 
	width: 100%;
	max-width: 1170px;
}

nav ul { 
	margin: 0 40px 0 0; 
	padding: 0; 
	text-align: right; 
	overflow: hidden;
}

nav li { 
	margin: 0 5px 10px 0; 
	padding: 0; 
	list-style: none; 
	display: inline-block; 
	overflow: hidden;
} 

nav a { 
	padding: 3px 12px; 
	text-decoration: none; 
	color: #ddd; 
	line-height: 100%; 
	overflow: hidden;
	font-size: 12px;
} 

.current-tab {
	color: #494949;
}

nav a:hover {
	/*color: #FFF;*/
	color: #E8611D;
}

.worklist {
	width: 100%;
	max-width: 1170px;
	background: url(/images/home-work-bg.png) no-repeat center center;
	background-size: 100% auto;
	z-index: -10;
}

.work1, .work2, .work3, .work-more {
	width: 100%;
	max-width: 1170px;
	margin-top: 100px;

	overflow: hidden;
}

.work1 img {
	width: 600px;
	max-width: 1170px;
	min-width: 500px;
	position: absolute;
	z-index: 0;
	left: 40%;
	transform: translateX(-50%);
	margin-top: 40px;

/*	transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;*/

    -webkit-animation: fadeInRight 1.2s ease-out .5s 1 both;
    animation: fadeInRight 1.2s ease-out .5s 1 both;
    animation-play-state:paused;

}

.work-desc {
	background-color: #FFF;
	width: 240px;
	height: 300px;
	float: right;
	margin-right: 30%;
	padding: 32px 42px 0 64px;

	-webkit-animation: fadeInLeft 1.2s ease-out .5s 1 both;
    animation: fadeInLeft 1.2s ease-out .5s 1 both;
    animation-play-state:paused;

    text-align: left;
}

.work-desc h1 {
	font-size: 20px;
	color: #494949;
}

.work-desc h4 {
	font-size: 12px;
	font-weight: 400;
	color: #666;
}

.work-desc p {
	margin-top: 24px;
	font-size: 12px;
	font-weight: 400;
	color: #666;
	line-height: 20px;
}

.work-desc a {
	font-size: 12px;
	font-weight: 400;
	color: #666;
	line-height: 20px;
	text-decoration: none;
	border: solid 1px;
	padding: 4px 8px;
	display:inline-block;
	margin-top: 24px;
	/*float: right;*/

	transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;

}

.work-desc a:hover {
	background-color: #EF9B79;
	color: #FFF;

}

.work2 img {

	width: 600px;
	max-width: 1170px;
	min-width: 500px;
	position: absolute;
	z-index: 0;
	left: 68%;
	margin-top: 40px;

/*	transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;*/

    -webkit-animation: fadeInRight 1.2s ease-out .5s 1 both;
    animation: fadeInRight 1.2s ease-out .5s 1 both;
    animation-play-state:paused;

}

.work2 .work-desc {
	float: left;
	text-align: right;
	margin-left: 16%;
	margin-top: 6%;
	padding: 0 42px;

	-webkit-animation: fadeInLeft 1.2s ease-out .5s 1 both;
    animation: fadeInLeft 1.2s ease-out .5s 1 both;
    animation-play-state:paused;

}

.work2, .work3, .work-more {
	margin-top: 16%;
}

.work3 img {

	width: 600px;
	max-width: 1170px;
	min-width: 500px;
	position: absolute;
	z-index: 0;
	left: 36%;
	/*transform: translateX(-50%);*/
	margin-top: 40px;

/*	transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;*/

    -webkit-animation: fadeInRight 1.2s ease-out .5s 1 both;
    animation: fadeInRight 1.2s ease-out .5s 1 both;
    animation-play-state:paused;

}

.work3 .work-desc {
	margin-top: 42px;
	padding: 0 42px;
	text-align: left;
	margin-right: 15%;
	height: 280px;

	-webkit-animation: fadeInLeft 1.2s ease-out .5s 1 both;
    animation: fadeInLeft 1.2s ease-out .5s 1 both;
    animation-play-state:paused;
}

.work-more .work-desc {
	background: url(/images/home-work-more.jpg) no-repeat center center;
	background-size: 100% auto;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 0 5% 0;

	-webkit-animation: fadeInUp 0.5s ease-out 0.5s 1 both;
    animation: fadeInUp 0.5s ease-out 0.5s 1 both;
    /*animation-play-state:paused;*/

    text-align: center;
}

.work-more .work-desc h4 {
	color: #FFF;
	font-weight: 200;
	font-size: 14px;
}

.work-more .work-desc a {
	color: #FFF;
	margin-top: 6%;
	font-size: 16px;
	line-height: 24px;
	border: solid 2px;
	padding: 8px 16px;
}

.work-more .work-desc a:hover {
	background-color: #FFF;
	color: #EF9B79;

}

.animation-run {
	animation-play-state: running !important;
} 

@media screen and (max-width: 500px) {
	.main-title {
		background-size: 72% auto;
	}

	.website-desc {
		top: 45%;
		font-size: 42px;
	}

	.website-menu {
		top: 42%;
	}


}

@media screen and (max-width: 600px) {
	.work1 .work-desc {
		animation-play-state: running !important;
		margin-right: 0;
	}

	.work2 .work-desc {
		animation-play-state: running !important;
		float: right;
		margin-right: 0;
		margin-top: 200px;
	}

	.work3 .work-desc {
		animation-play-state: running !important;
		margin-right: 0;
	}

	.work1 img, .work2 img, .work3 img {
		animation-play-state: running !important;
	}

	.work1 img {
		left: 32%;
	}

	.work2 img {
		left: 50%;
	}

	.work-more .work-desc {
		background-size: 150% auto;
	}
}
