html {
	font-size: 16px;
}

#post, #page {
	max-width: 690px;
	margin: 0 auto;
}

body {
  	color: #242424;
  	background: #fafafa;
	font-family: Helvetica, Arial, "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "tohoma,sans-serif";
	line-height: 1.8;
	font-size: 1em;
}

h1 {
	font-size: 2.2em;
	font-weight: 400;
	line-height: 1.45;
	padding-top: 16px;
	margin-bottom: 4px;
	text-align: center;
}

h2, h3, h4, h5, h6 {
	line-height: 1.45;
	margin-top: 2.2em;
	margin-bottom: 4px;
}

h2 {
	font-size: 1.4em;
	margin: 40px 10px 20px 0;
	padding-left: 8px;
	font-weight: 700;
	color: #ffffff;
	background-color: #242424;
}

h3 {
	font-weight: 700;
	font-size: 1.2em;
	margin: 10px 0 5px;
	padding-top: 10px;
}

h4 {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.1em;
	margin: 10px 0 5px;
	padding-top: 10px
}

h5, h6 {
	font-size: .9em;
}

h5 {
	font-weight: bold;
	text-transform: uppercase;
}

h6 {
	font-weight: normal;
	color: #AAA;
}

img {
	width: 100%;
	border-radius: 8px;
	display: block;
	margin: 1em auto;
	height: auto;
	text-align: center;
}

dl, ol, ul {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	padding-inline-start: 5%;
	line-height: 1.45;
	padding-left: 20px;
}

p {
	padding: 0;
	line-height: 1.8;
	font-size: 1em;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #1B8DFF;
	text-decoration: none;
}
a:focus {
	outline-offset: -2px;
}

blockquote {
	font-size: 1em;
	font-style: normal;
	padding: 30px 38px;
	margin: 0 0 15px;
	position: relative;
	line-height: 1.8;
	text-indent: 0;
	border: none;
  	color: #999999;
}

blockquote:before {
  content: "“";
  left: 12px;
  top: 0;
  color: #E0E0E0;
	font-size: 4em;
	font-family: Arial, serif;
	line-height: 1.45;
	font-weight: 700;
	position: absolute;
}

blockquote:after {
	content: "”";
	right: 12px;
	bottom: -26px;
	color: #E0E0E0;
	font-size: 4em;
	font-family: Arial, serif;
	line-height: 1.45;
	font-weight: 700;
	position: absolute;
	bottom: -31px;
}

strong, dfn {
	font-weight: 700;
}

em, dfn {
	font-style: italic;
	font-weight: 400;
}

del {
	text-decoration: line-through;
} 

pre {
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.45;
	word-break :break -all;
	word-wrap: break -word;
	border-radius: 4px;
	white-space: pre-wrap;
	/* display: block; */
	background: #f6f6f6;
	padding: 10px 20px;
	border: none;
	margin-bottom: 25px;
  color: #494949;
  font-family: Courier, sans-serif;
}
code {
  color: #1B8DFF;
	background-color: #FEFCFA;
	border-radius: 4px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	padding: 2px 4px;
	font-size: 90% ;
}

p > code {
	color: #1B8DFF;
	background-color: #FEFCFA;
	font-size: .95em;
  	border-radius: 3px;
  	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
}

figure {
	margin: 1em 0;
}

figcaption {
	font-size: 0.75em;
	padding: 0.5em 2em;
	margin-bottom: 2em;
}

figure img {
	margin-bottom: 0px;
}

hr {
	margin-top: 16px;
	margin-bottom: 16px;
	border: 0;
	border-top: 1px solid #eee;
}

ol li {
	margin-bottom: 0.75em;
	margin-top: 0.75em;
	list-style-type:decimal;
	list-style-position:inside;
}

ul li {
	margin-bottom: 0.25em;
	margin-top: 0.25em;
	list-style-type:disc;
	list-style-position:inside;
}

li p {
	display: inline;
}

li::marker {
	font-size: 1em;
}

ul, ol {
    padding: 0;
    margin: 0;
}

@keyframes highfade {
		0% {
			background-color: none;
		}
		20% {
			background-color: yellow;
		}
		100% {
			background-color: none;
		}
}

@-webkit-keyframes highfade {
		0% {
			background-color: none;
		}
		20% {
			background-color: yellow;
		}
		100% {
			background-color: none;
		}
}

a:target, ol #footnotes li:target, sup a:target {
	animation-name: highfade;
	animation-duration: 2s;
	animation-iteration-count: 1;
    animation-timing-function :ease-in-out;
    -webkit-animation-name: highfade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function :ease-in-out;
}

a:target {
	border: 0;
	outline: 0;
}

time {
    font-size: 1em;
	line-height: 2.4;
	color: #c9c9c9;
	padding: 1em 1em 0 1em;
	border-top: 1px solid #c9c9c9;
}

.info {
	padding-top: 1em;
	text-align: center;
}


.toc, .toc ol {
	line-height: 1.2;
}

.toc li {
	list-style-type:none;
	overflow-y: hidden;
}

.toc-number {
	display: none;
}

.toc {
	background: #f6f6f6;
	padding: 16px 32px;
	margin: 24px 0;
}

.toc-link {
	color: #242424;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}


