@media screen and (max-width: 768px) {
	.row {
		margin: 3.5rem 4rem; 
	}

	.grid-1 {
		width: 100%;
		padding: 0 2.4rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		float: left;
		overflow: hidden;
	}
	
	.grid-2 {
		width: 50%;
		padding: 0 2.4rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		float: left;
		overflow: hidden;
	}
	
	.grid-3 {
		width: 33.3333%;
		padding: 0 2.4rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		float: left;
		overflow: hidden;
	}

	.line {
		border-bottom: 1px solid #ececec;
	}
	
	.seperator {
		border-right: 1px solid #ececec;
	}

	.mobile-footer {
		font-size: 1rem;
        color: #c9c9c9;
        background: #FEFCFA;

        text-align: center;
        padding-top: 1rem;
		padding-bottom: 1rem;
	
	}
}

@media screen and (max-width: 600px) {
	.row {
		margin: 0 4rem; 
	}

	.grid-1 {
		width: 100%;
		padding: 2rem 0;
		margin-top: 2rem;
		margin-bottom: 2rem;
		float: left;
		overflow: hidden;
		border-bottom: 1px solid #ececec;
	}
	
	.grid-2 {
		width: 100%;
		padding: 2rem 0;
		margin-top: 2rem;
		margin-bottom: 2rem;
		float: left;
		overflow: hidden;
		border-bottom: 1px solid #ececec;
	}
	
	.grid-3 {
		width: 100%;
		padding: 2rem 0;
		margin-top: 2rem;
		margin-bottom: 2rem;
		float: left;
		overflow: hidden;
		border-bottom: 1px solid #ececec;
	}

	.line {
		border-bottom: 0;
	}
	
	.seperator {
		border-right: 0;
	}
}

@media screen and (min-width: 769px) {
	.mobile-footer {
		display: none;
	}

	.row {
		margin: 3.5rem 4rem; 
	}

	.grid-1 {
		width: 100%;
		padding: 0 2.4rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		float: left;
		overflow: hidden;
	}
	
	.grid-2 {
		width: 50%;
		padding: 0 2.4rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		float: left;
		overflow: hidden;
	}
	
	.grid-3 {
		width: 33.3333%;
		padding: 0 2.4rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		float: left;
		overflow: hidden;
	}

	.line {
		border-bottom: 1px solid #ececec;
	}
	
	.seperator {
		border-right: 1px solid #ececec;
	}
}


.g-container {
	margin: 0 auto;
}

.row:before, .row:after {
    content:"";
    display: table ;
	clear:both;
	
}

.row img {
	width: 100%;
	height: 300px;
}

.row p {
	text-align: center;
	font-size: 18px;
}

.grey {
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}
