/*home-work01-img*/
@-webkit-keyframes fadeInDown {
  0% {
  	opacity:0;
  	-webkit-transform:translate3d(-50%,-5%,0);
  	transform:translate3d(-50%,-5%,0);
  }
  100% {
  	opacity:1;
  	-webkit-transform:translateX(-50%);
  	transform:translateX(-50%);
  }
}

@keyframes fadeInDown {
  0% {
  	opacity:0;
  	-webkit-transform:translate3d(-50%,-5%,0);
  	-ms-transform:translate3d(-50%,-5%,0);
  	transform:translate3d(-50%,-5%,0)
  }
  100% {
  	opacity:1;
  	-webkit-transform:translateX(-50%);
  	-ms-transform:translateX(-50%);
  	transform:translateX(-50%);
  }
}

.fadeInDown {
	-webkit-animation-name:fadeInDown;
	animation-name:fadeInDown;
}

/*home-work01-des*/
@-webkit-keyframes fadeInUp {
  0% {
    opacity:0;
    -webkit-transform:translate3d(0%,5%,0);
    transform:translate3d(0%,5%,0);
  }
  100% {
    opacity:1;
    -webkit-transform:none;
    transform:none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity:0;
    -ms-transform:translate3d(0,5%,0);
    -webkit-transform:translate3d(0%,5%,0);
    transform:translate3d(0%,5%,0);
  }
  100% {
    opacity:1;
    -webkit-transform:none;
    -ms-transform:none;
    transform:none;
  }
}

.fadeInUp {
  -webkit-animation-name:fadeInUp;
  animation-name:fadeInUp;
}
